# App

APP_URL="http://127.0.0.1"
APP_PORT=8080

# Auth

APP_SECRET="$gqaNc?cD7/qgn.E|2Y2zÇ_m$15_`4EtW|3>=>v74çIEu¨%%maVe9iç}'u$?V2{/*uB´kbzU+ç#~}N|xc/7v2v5s*b?3-~).@9¨8g.2zd_RrDqTmnqUJRF[4}çÇ6:(r\y8\D"

